/* General setup */
/* The font face with the location of the files to use for the font and its personal stylizing under the url tag*/
@font-face {
  font-family: "Black_Ops_One";
  src:
    url("Fonts/Black_Ops_One/BlackOpsOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gelasio";
  src:
    url("Fonts/Gelasio/Gelasio-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Limelight";
  src:
    url("Fonts/Limelight/Limelight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
  font-family:"Black_Ops_One";
  text-align: center;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

section {
  font-family: "Gelasio";
}

nav {
  font-family: "Limelight";
}

aside {
  font-family: "Limelight";
}

h2 {
  border-bottom: 5px solid #aa6666;
  font-family:"Black_Ops_One";
  text-align: center;
}