html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500;
  background-color: #efefef;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding: 30px;
  border: 5px purple;
  border-radius: 20px;
  border-style:ridge;
  background-color: white;
}

h1 {
  
  border-bottom: 10px dotted purple;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 2rem;
  font-weight: bold;
  color: darkslategray;
}

h2 {
  font-style: italic;
  font-size: 1.5rem;
}

.job-title {
  color: darkslategray;
  font-weight: bold;
}

button:hover {
  color: green;
}

.links {
  color:green
}